
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.react,
.root {
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
}

.nav {
  margin: 0;
  color: white;
  background: #2e6da4;
  width: 21rem;
-ms-flex: 0 1rem;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-webkit-box-direction: normal;
-moz-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: flex-start;
}

.main {
  margin: 0;
  background: #F5F8FF;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
 align-items: stretch;
}

.container {
  padding: 0;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.message-list {
  word-wrap: break-word;
  height: 50em;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

.channel-list {
  height: auto;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  /*z-index: -1;*/
}

.user-list {
  height: auto;
  overflow-y: auto;
  width: 100%;
  list-style: none;
}

.drop-down-menu {
  align-self: baseline;
  padding:0;
  margin: 0;
}
.channel-section {
  align-self: baseline;
  padding-left: 0.8em;
  padding-top: 1.6em;
  padding-right: 0.8em;
}

.user-section {
  align-self: baseline;
  padding-left: 0.8em;
  padding-top: 1.6em;
  padding-right: 0.8em;
}
.typing-list {
  font-size: 0.8em;
  position: fixed;
  bottom: 0.5em;
  left: 21.5rem;
  color: #8B8B8B;
}

.channel-list-item {
  cursor: pointer;
}

.message-user {
  color: #66c;
}

.message-time, .channel-time {
  color: #aad;
  opacity: 0.8;
}

.message-content, .channel-last-message {
  clear: both;
  padding-top: 0.1em;
  margin-top: -1px;
  padding-bottom: 0.3em;
}

.message-composer {
    bottom: 2em;
    position: fixed;
    z-index: 52;
    height: 4rem;
    left: 21.1rem;
    right: 1rem;
    background: #fff;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.oser {
  box-sizing: border-box;
  font-family: inherit;
  height: 2em;
  width: 100%;
  margin: 0.5em 0 0;
}

.header, .main, .aside-1, .aside-2, .footer {
  flex: 1 100%;
}

.sign-up-textfield {
  margin: auto;
}
.wrapper > * {
  flex: 1 100%;
}

.header {
  /*background: #EA4335*/
  background: #000000;
  color: #FFFFFF;
}

.brand-name {
  text-align: center;
}

.footer {
  font-size: small;
}



.sign-in {
  justify-content: center;
  display: flex;
}

.sign-in-button {
  margin: auto;
}

.sign-up {
  background: #23a608;
  color: white;
  margin: auto;
  width: 12em;
  height: 3.5em;
}

.sign-up-button {
  background: #23a608;
  color: white;
  margin: auto;
  width: 12em;
  height: 3.5em;
}

span[class*="glyphicon-one-fine"] {
    padding-top: 0.46em;
    padding-right: 0.4em;
}

.glyphicon-one-fine-green-dot:before {
    content:"\25cf";
    font-size: 0.7em;
    color: #34A853;
}

.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 0.7em;
}

.aside-1 {
  /*background: lightgreen;*/
}

.aside-2 {
  /*background: lightpink;*/
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {

  /*.channel-section {
    order: 1;
  }*/

  /*.channel-header {
    order: 2;
  }*/

  .channel-section {
    order: 2;
  }

  .user-section {
    order: 3;
  }

  .drop-down-menu {
    order: 1;
  }
}
