.chatapp {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.message-list {
  border: 1px solid #ccf;
  font-size: 1rem;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.channel-list {
  border: 1px solid #ccf;
  font-size: 1.6rem;
  height: 200px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.user-list {
  border: 1px solid #ccf;
  font-size: 1.0rem;
  height: 200px;
  overflow-y: auto;
}


.top-bar {
}

.top-bar-button {
}

.typing-list {
  font-size: 0.8rem;
  opacity: 0.6;
}

.channel-section {
  float: left;
  width: 20%;
}

.message-section {
  float: left;
  width: 60%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.user-section {
  float: left;
  width: 15%;
}

.message-channel-heading,
.channel-count {
  height: 40px;
  margin: 0;
}

.message-list-item, .channel-list-item {
  list-style: none;
  padding: 0.01rem 0.01rem 0.01rem;
}

.channel-list-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.channel-list:hover .channel-list-item:hover {
  background-color: #f8f8ff;
}

.channel-list:hover .channel-list-item {
  background-color: #fff;
}

.channel-list-item.selected,
.channel-list:hover .channel-list-item.selected,
.channel-list:hover .channel-list-item.selected:hover {
  background-color: #efefff;
  cursor: default;
}

.message-user {
  color: #66c;
  font-size: 1rem;
}

.channel-name {
  color: #66c;
  font-size: 1.2rem;
  margin: 0;
}

.message-time, .channel-time {
  color: #aad;
  opacity: 0.8;
  font-size: 0.9rem;
}

.message-content, .channel-last-message {
  clear: both;
  font-size: 1rem;
  padding-top: 0.1rem;
  margin-top: -1px;
  padding-bottom: 0.3rem;
}

.message-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  height: 2em;
  width: 100%;
  margin: 0.5rem 0 0;
}

.channel-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  height: 2em;
  width: 100%;
  margin: 0.5rem 0 0;
}

.footer, .push {
  height: 15.5rem;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -15.5rem;
}
