.chatapp {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

.message-list, .friend-list {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.message-section {
  float: right;
  width: 65%;
}

.friend-section {
  float: left;
  width: 32.5%;
}

.message-friend-heading,
.friend-count {
  height: 40px;
  margin: 0;
}

.message-list-item, .friend-list-item {
  list-style: none;
  padding: 12px 14px 14px;
}

.friend-list-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.friend-list:hover .friend-list-item:hover {
  background-color: #f8f8ff;
}

.friend-list:hover .friend-list-item {
  background-color: #fff;
}

.friend-list-item.selected,
.friend-list:hover .friend-list-item.selected,
.friend-list:hover .friend-list-item.selected:hover {
  background-color: #efefff;
  cursor: default;
}

.message-author-name,
.friend-name {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.message-time, .friend-time {
  color: #aad;
  float: right;
  font-size: 12px;
}

.message-text, .friend-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}

.message-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 5em;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}

.friend-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 5em;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}
